body {
  font-family: sans-serif;
  color: white;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: white;
}

.header {
  height: 50px;
  background-color: orangered;
  color: white;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  align-items: center;
  justify-content: center;
}

.video {
  display: flex;
  margin: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button {
    margin: 30px;
}

.description {
  margin: 30px;
}

.resources {
  margin: 30px;
}

.footer {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #181818;
}