body {
  font-family: sans-serif;
  color: white;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: white;
}

.header {
  height: 50px;
  background-color: orangered;
  color: white;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
tr:hover {
  background-color: #f5f5f5;
}
.scrollable {
  height: 400px;
  overflow-y: scroll;
}

.video {
  display: flex;
  margin: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button {
    margin: 30px;
}

.description {
  margin: 30px;
}

.resources {
  margin: 30px;
}

.footer {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #181818;
}